<div class="container">
    <button type="button" class="btn btn-primary">
        Productos 
        <span class="badge bg-secondary">{{myShoppingCart.length}}</span>
        <span class="badge bg-secondary">{{total}}</span>
      </button>
    <app-product [product]="product" *ngFor="let product of products" (addedProduct)="onAddToShoppingCart($event)">
    </app-product>
</div>

<!-- MATERIALES DESDE ARRAY LOCAL
<div *ngFor="let material of myMaterial">
    <div class="card">
        <div class="row fluid-center">
            <div class="middle">
                <img [src]="product.image" class="center" style="max-width: 100px;">
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Nombre: {{ material.Nombre }}</h5>
            <h5 class="card-title">Código: {{ material.Codigo }}</h5>
            <p class="card-text">Negocio {{ material.Negocio}}</p>
            <p class="card-text">Categoria: {{ material.Categorias}}</p>
            <p class="card-text">Nombre: {{ material.Nombre}}</p>
            <p class="card-text">Modelo {{ material.Modelo}}</p>
        </div>
        <div class="row row-cols-2 p-2">
           <div class="col">
            <button type="button" (click)="onAddToCart()" class="btn btn-outline-secondary">Add</button>
        </div> -->
<!-- <div class="col">
            <button type="button" class="btn btn-outline-secondary float-end">{{product.price}}</button>
        </div> 
        </div>
    </div>
    <br>
</div> -->





<!-- <div>
    <app-product [product]="product" *ngFor="let product of products" (addedProduct)="onAddToShoppingCart($event)">
    </app-product>
</div> -->

<!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img [src]="product.img" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{product.price}}</li>
            <li class="list-group-item">{{product.description}}</li>
        </ul>
    </div>
</div> -->


<!-- <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->