<div>
    <div class="card animated fadeIn fast m-1" *ngFor="let material of materiales; let i = index">
        <div class="card-body">
            <h4 class="card-title">Código: {{ material.Codigo}}</h4>
            <p class="card-text">Modelo: </p>
            <p class="card-text">Modelo: {{ material.Modelo}}</p>
            <p class="card-text">Categorias: {{ material.Categorias}}</p>
            <p class="card-text">Gas: {{ material.Gas}}</p>
            <p class="card-text">Presión entrada: {{ material.Presion_1}}</p>
            <p class="card-text">Presión salida: {{ material.Presion_2}}</p>
            <button (click)="verMaterial(i)" type="button" class="btn btn-info">Info</button>
            <!-- <a [routerLink]="['/material',i]" class="btn btn-outline-primary">Ver mas..</a> -->
            <!-- <a [routerLink]="['material','{{ material.Codigo}}']" class="btn btn-outline-primary">Ver mas..</a> -->
        </div>
    </div>
    <br>
</div>

<!-- [routerLink]="['material',i]" -->

<!-- <div>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Modelo</th>
                <th scope="col">Categoría</th>
                <th scope="col">Gas</th>
                <th scope="col">P.entrada</th>
                <th scope="col">P.salida</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ material.Modelo}}</th>
                <td>{{ material.Categorias}}</td>
                <td>{{ material.Gas}}</td>
                <td>{{ material.Presion_1}}</td>
                <td>{{ material.Presion_2}}</td>
            </tr>
        </tbody>
    </table>
</div> -->