<div class="card animated fadeIn fast">
    <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text"> PRUEBA</p>
        <p class="card-text"><small class="text-muted">Tras haber colaborado estrechamente con sus clientes durante más de 70 años, Carburos Metálicos ha acumulado una inmensa experiencia que le permite ofrecer una amplia gama de servicios y soluciones que den respuesta a sus retos más exigentes. Tanto si necesita un suministro de gases especiales, como si se plantea mejoras de procesos para aumentar el éxito de su negocio o si busca nuevas soluciones energéticas y medioambientales, estamos aquí para ayudarle. Nuestros servicios abarcan desde el modelado informático a la formación en seguridad y los servicios de ingeniería y asesoramiento durante el diseño del proyecto, la puesta en marcha y el funcionamiento continuo. x</small></p>

        <button type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
        <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->
        <!-- <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Caudal</th>
                    <th scope="col">Material</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>