<div>
    <!-- DO: Insert for remove when result is total *ngIf="materialesEncontrados!='" -->
    <div class="spinner-grow text-light" role="status">
        <span class="visually-hidden"></span>
        <small class="text-muted center">{{materialesEncontrados}}</small>
    </div>

    <div class="card animated fadeIn fast m-1" *ngFor="let material of materiales; let i = index; let primero=first;let ultimo=last">
        <div class="card-body">
            <h4 class="card-title">{{ material.Nombre}}
                <small class="text-success">{{ material.Codigo}}</small>
            </h4>
            <p class="card-text">Modelo: {{ material.Modelo}}</p>
            <p class="card-text">Categorias: {{ material.Categorias}}</p>
            <p class="card-text">Gas: {{ material.Gas}}</p>
            <p class="card-text">Presión entrada: {{ material.Presion_1}}</p>
            <p class="card-text">Presión salida: {{ material.Presion_2}}</p>
            <button (click)="verMaterial(i)" type="button" class="btn btn-info">Info</button>
        </div>
    </div>
    <br>
</div>