<div class="spinner-grow text-light" role="status">
    <span class="visually-hidden"></span>
    <small class="text-muted center">{{materialesEncontrados}}</small>
</div>

<!-- <app-material-tarjeta [material]="material" [index]="i" *ngFor="let material of materiales; let i = index">

</app-material-tarjeta> -->

<div class="row">
<!--     <div class="col-2 col-md-2 overflowScroll auto">
        <h1>PRIMERO</h1>
    </div> -->
    <div class="col overflowScroll auto">
        <app-material-tarjeta [material]="material" [index]="i" *ngFor="let material of materiales; let i = index">
        </app-material-tarjeta>
    </div>
<!-- 
    <div class="col col-md-2 overflowScroll auto">
        <h1>APP MATERIAL</h1>
        <app-material-tarjeta [material]="material" [index]="i" *ngFor="let material of materiales; let i = index">
        </app-material-tarjeta>
    </div>
    <div class="col-0 col-md-8 overflowScroll auto bg-light">
        <h1>APP PRODUCTS</h1>
        <app-products></app-products>
    </div> -->
</div>


<!-- <div>
    <div class="spinner-grow text-light" role="status">
        <span class="visually-hidden"></span>
        <small class="text-muted center">{{materialesEncontrados}}</small>
    </div>
    <div *ngIf="materiales.length == 0" class="alert alert-primary" role="alert">
        Sin resultados
    </div>
    <div class="card animated fadeIn fast m-1" *ngFor="let material of materiales; let i = index">
        <div class="card-body">
            <h4 class="card-title">{{ material.Nombre}} </h4>
            <p *ngIf="material.Codigo!" class="card-text">Código: {{ material.Codigo}}</p>
            <p *ngIf="material.Modelo!" class="card-text">Modelo: {{ material.Modelo}}</p>
            <p *ngIf="material.Categorias!" class="card-text">Categoría: {{ material.Categorias}}</p>
            <p *ngIf="material.Sub_Categoria!" class="card-text">Sub-Categoría: {{ material.Sub_Categoria}}</p>
            <p *ngIf="material.Sub_Categoria_2!" class="card-text">Sub_Categoria_2 {{ material.Sub_Categoria_2}}</p>
            <p *ngIf="material.Gas!" class="card-text">Gas: {{ material.Gas}}</p>
            <button (click)="verMaterial(i)" type="button" class="btn btn-outline-success">...</button>
        </div>
    </div>
    <br>
</div> -->